body {
	margin: 0;
}

/* boxes like the video player and description*/
.box {
	margin: 5px;
}

#header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e8e8e8;
}

#center {
	background-color: grey;
	width: 100%;
	height: 500px;
}

#footer {
	background-color: green;
	width: 100%;
	height: 100px;
}
