body {
	margin: 0;
	font-family: Roboto,arial,sans-serif;
	font-size: small;
	height: 100%;
}

/* boxes like the video player and description*/
.box {
	margin: 10px;
	display: block;
	float: left;
	background-color: white;
	padding: 20px 10px;
}

#header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e8e8e8;
}

#center {
	background-color: #f1f1f1;
	width: 100%;
	height: 1000px;
}

#footer {
	width: 100%;
	height: 100px;
	margin-top: 10px;
}

#player {
	margin-left: 255px;
	margin-bottom: 0;
	padding: 0;
}

#sidebar {
	width: 380px;
	margin-right: 0px;
	margin-left: 0;
	margin-bottom: -70px;
}

#video-title {
	width: 541px;
	height: 100px;
	margin-left: 255px;
	margin-right: 0;
	margin-top: 0;
	padding: 20px 10px;
}

.suggestion {
	margin: 10px;
	width: 168px;
	height: 94px;
	display: -webkit-inline-box;
}

.sidebar-text {
	width: 168px;
	height: 94px;
	margin: 10px;
	margin-left: 0;
	float: right;
}

h3{
	margin: 0;
}

h4 {
	margin: 0;
	margin-left: 10px;
}

#video-title img {
	width: 48px;
	height: 48px;
	padding: 10px;
	padding-left: 0;
}

#video-description {
	width: 541px;
	min-height: 10px;
	margin-left: 255px;
	margin-top: 0;
}

.box-content {
	display: inline;
}